<!-- WELCOME -->
<section id="headerPict" [ngStyle]="{'background-image': 'url(' + selectedDestination.destinationPicture1 + ')', 'background-attachment': 'fixed', 'z-index': '-1'}">
  <div class="container">
  </div>
</section>

<section class="normal-scroll {{selectedDestination.theme}}" id="welcome">
  <div class="container {{selectedDestination.theme}}">
    <h1 class="h1Welcome">Bienvenue à {{selectedDestination.destination}}</h1>
  </div>
</section>

<!-- INTRO -->
<section class="normal-scroll">
  <div class="container">
    <div>
      <p>{{selectedDestination.destinationDescription}}</p>
      <br>
      <h2>Point d'intérêt</h2>
      <p>{{selectedDestination.destinationAnecdote}}</p>
    </div>
    <div class="cardContainer">
      <div class="card">
        <h3>Ballade 1</h3>
        <p>{{selectedDestination.ride1}}</p>
      </div>
      <div class="card">
        <img src="{{selectedDestination.ride1Picture}}" alt="">
      </div>
    </div>
    <div class="cardContainer">
      <div class="card">
        <img src="{{selectedDestination.ride2Picture}}" alt="">
      </div>
      <div class="card">
        <h3>Ballade 2</h3>
        <p>{{selectedDestination.ride2}}</p>
      </div>
    </div>
  </div>
</section>

<!-- RECEIPE 1 -->
<section id="foodPict" [ngStyle]="{'background-image': 'url(' + selectedDestination.receipe1[1].picture + ')', 'background-attachment': 'fixed', 'z-index': '-3'}">
  <div class="container">
  </div>
</section>

<section class="normal-scroll">
  <div class="container">
    <h1>Spécialité locale : {{selectedDestination.receipe1[0].name}}</h1>
    <h2>Temps de préparation: {{selectedDestination.receipe1[2].preparationTime}}</h2>
    <div class="cardContainer">
      <div class="card">
        <h3>Ingrédients</h3>
        <div *ngFor="let ingredient of selectedDestination.receipe1[3].receipe1Ingredients">
          <p>{{ingredient.ingredient}}</p>
        </div>
      </div>
      <div class="card">
        <h3>Instructions</h3>
        <div *ngFor="let step of selectedDestination.receipe1[4].receipe1Steps">
          <div class="stepLign">
            <div class="stepNum {{selectedDestination.theme}}">
              {{step.step}}
            </div>
            <div class="step">
              {{step.instruction}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- RECEIPE 2 -->
<section id="foodPict2" [ngStyle]="{'background-image': 'url(' + selectedDestination.receipe2[1].picture + ')', 'background-attachment': 'fixed', 'z-index': '-3'}">
  <div class="container">
  </div>
</section>

<section class="normal-scroll">
  <div class="container">
    <h1>Spécialité locale : {{selectedDestination.receipe2[0].name}}</h1>
    <h2>Temps de préparation: {{selectedDestination.receipe2[2].preparationTime}}</h2>
    <div class="cardContainer">
      <div class="card">
        <h3>Ingrédients</h3>
        <div *ngFor="let ingredient of selectedDestination.receipe2[3].receipe2Ingredients">
          <p>{{ingredient.ingredient}}</p>
        </div>
      </div>
      <div class="card">
        <h3>Instructions</h3>
        <div *ngFor="let step of selectedDestination.receipe2[4].receipe2Steps">
          <div class="stepLign">
            <div class="stepNum {{selectedDestination.theme}}">
              {{step.step}}
            </div>
            <div class="step">
              {{step.instruction}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CHILL -->
<section id="chillPict" [ngStyle]="{'background-image': 'url(' + selectedDestination.chillPlacePicture + ')', 'background-attachment': 'fixed', 'z-index': '-3'}">
  <div class="container">
  </div>
</section>

<section class="normal-scroll">
  <div class="container">
    <h1>Notre coup de coeur</h1>
    <p>
      {{selectedDestination.chillPlace}}
    </p>
  </div>
</section>

<!-- FOOTER -->
<section class="normal-scroll {{selectedDestination.theme}}" id="goodbye">
  <div class="container {{selectedDestination.theme}}">
    <h1 class="{{selectedDestination.theme}}">
      Voyagez de votre canapé avec Sofa'r
    </h1>
  </div>
</section>

<section id="footerPict" [ngStyle]="{'background-image': 'url(' + selectedDestination.destinationPicture3 + ')', 'background-attachment': 'fixed', 'z-index': '-3'}">
  <div class="container {{selectedDestination.theme}}">
  </div>
</section>
