<!-- WELCOME -->
<section id="headerPict" [ngStyle]="{'background-image': 'url(' + randomResult[4] + ')', 'background-attachment': 'fixed', 'z-index': '-1'}">
  <div class="container">
  </div>
</section>

<section class="normal-scroll {{randomResult[0]}}" id="welcome">
  <div class="container {{randomResult[0]}}">
    <h1 class="h1Welcome">{{randomResult[1]}}</h1>
  </div>
</section>

<!-- INTRO -->
<section class="normal-scroll">
  <div class="container">
    <div class="description-interested-point-cardContainer">
      <div class="description-card">
        <h2>Un peu d'histoire...</h2>
        <hr>
        <p>{{randomResult[2]}}</p>
      </div>
      <div class="interested-point-card">
        <h2>Points d'intérêts</h2>
        <div class= "hr-interested-point">
          <hr>
        </div>
        <p>{{randomResult[3]}}</p>
      </div>
    </div>
    <div class="cardContainer">
      <div class="card-balade">
        <h3 class="balade">Balade 1</h3>
        <div class="hr-ride">
          <hr>
        </div>
        <p>{{randomResult[7]}}</p>
      </div>
      <div class="card">
        <img src="{{randomResult[11]}}" alt="">
      </div>
    </div>
    <div class="cardContainer">
      <div class="card">
        <img src="{{randomResult[12]}}" alt="">
      </div>
      <div class="card-balade">
        <h3 class="balade">Balade 2</h3>
        <div class="hr-ride">
          <hr>
        </div>
        <p>{{randomResult[8]}}</p>
      </div>
    </div>
  </div>
</section>

<!-- RECEIPE 1 -->
<!-- <section class="normal-scroll">
  <div class="container">
    <div class="speciality-title">
    </div>
    </div>
</section>
    <section class="normal-scroll">
      <div class="container">
        <div class="speciality-title">
      <h1>Spécialité locale : {{berlin.receipe1[0].name}}</h1>
    </div>
    <h4>Temps de préparation: {{berlin.receipe1[2].preparationTime}}</h4>
    <div class="cardContainer">
      <div class="card-ingredients">
        <h3>Ingrédients</h3>
        <div class="hr-ingredients">
          <hr class="{{randomResult[0]}}">
        </div>
        <div *ngFor="let step of berlin.receipe1[3].receipe1Ingredients">
          <div class="stepLign">
            <div class="stepNum">
              {{step.step}}
            </div>
            <div class="step">
              {{step.instruction}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- RECEIPE 2 -->
<section id="foodPict2" [ngStyle]="{'background-image': 'url(' + randomResult[26] + ')', 'background-attachment': 'fixed', 'z-index': '-3'}">
  <div class="container">
  </div>
</section>

<section class="normal-scroll">
  <div class="container">
    <div class="speciality-title">
      <h1>Spécialité locale : {{laponie.receipe2[0].name}}</h1>
    </div>
    <h4>Temps de préparation: {{laponie.receipe2[2].preparationTime}}</h4>
    <div class="cardContainer">
      <div class="card-ingredients">
        <h3>Ingrédients</h3>
        <div class="hr-ingredients">
          <hr>
        </div>
        <div *ngFor="let ingredient of laponie.receipe2[3].receipe2Ingredients">
          <div class="ingredientLign">
            <img class="ingredients" src="https://www.svgrepo.com/show/171219/bowl.svg" alt="">
            <p>{{ingredient.ingredient}}</p>
          </div>
        </div>
      </div>
      <div class="card-instructions">
        <h3>Instructions</h3>
        <div class="hr-instructions">
          <hr>
        </div>
        <div *ngFor="let step of laponie.receipe2[4].receipe2Steps">
          <div class="stepLign">
            <div class="stepNum">
              {{step.step}}
            </div>
            <div class="step">
              {{step.instruction}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CHILL -->
<section id="chillPict" [ngStyle]="{'background-image': 'url(' + randomResult[5] + ')', 'background-attachment': 'fixed', 'z-index': '-3'}">
  <div class="container">
  </div>
</section>

<section class="normal-scroll">
  <div class="container">
    <h1>Notre coup de coeur</h1>
    <p class="chill">
      {{randomResult[24]}}
    </p>
  </div>
</section>

<!-- FOOTER -->
<section class="normal-scroll {{randomResult[0]}}" id="goodbye">
  <div class="container {{randomResult[0]}}">
    <h1 class="{{randomResult[0]}}">
      Voyagez de votre canapé avec Sofa'r
    </h1>
  </div>
  <button [routerLink]="['/pimped']">Retour à la personnalisation</button>
</section>

<section id="footerPict" [ngStyle]="{'background-image': 'url(' + randomResult[6] + ')', 'background-attachment': 'fixed', 'z-index': '-3'}">
  <div class="container {{randomResult[0]}}">
  </div>
</section>
