<img src="../../assets/back.jpg">
  <h1>Sofa'r</h1>
  <h2>Une autre façon de voyager</h2>
  <span class="title-hr"><hr></span>

  <div class="wContainer">

    <div class="why">
      <h3 class="card-title">Pourquoi ?</h3>
      <hr>
      <br>
      <p>Le plus important ne relève pas tant des évènements qui arrivent mais des notre réaction face à ces derniers. Cela s’applique particulièrement bien aux temps confinés actuels, et il va sans dire voyager vers découvrir de nouveaux paysages manque.
        <span class="important-text">Et s’il était possible de tenter une évasion </span>, une escapade… une équipée exotique pour un bref moment de répit ? Une ode à la découverte où la tolérance se mêle à l’apprentissage des us et coutumes de quelques cents destinations magiques ?
        </p>
    </div>

    <div class="how">
      <h3 class="card-title">Comment ?</h3>
      <hr>
      <br>
      <p>Vous laisser guider… voilà le maître-mot ! En démarrant la visite, vous êtes amené à renseigner vos préférences de destinations : plutôt plage et soleil ? Hiver et montagnes ? Urbain et culture ?
        Pas de panique. Il y en a pour tous  les goûts !
        Au moyen de notre Sofa’outil, <span class="important-text">nous ciblons les destinations qui correspondent à vos centres de curiosités </span> avant de vous proposer, durant un mois et chaque jour, une nouvelle destination à découvrir.
        </p>
    </div>

    <div class="what">
      <h3 class="card-title">C'est quoi ?</h3>
      <hr>
      <br>
      <p>Sofa’r est le guide touristique privilégié des internautes en quête de voyages et de découvertes. Comme il est présentement délicat d’aller voir le monde, c’est le monde que Sofa’r vous amène. <span class="important-text">Sobre, efficace et pertinent</span>, Sofa’r vous accompagne élégamment au quotidien pour vous aider à prendre soin de vos rêves de liberté, de voyage et de complétude. Promis, on ne vous veut que du bien.</p>
    </div>

  </div>

  <button class="btn" [routerLink]="['/pimped']">Commencer</button>

