<div class="background">
  <h1>Sofar</h1>

  <div class="wContainer">

    <div class="why">
      <h2>Why ?</h2>
      <br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia est asperiores perferendis unde accusamus doloribus illo ducimus rerum itaque cumque eveniet voluptatibus quia, ipsum quod sapiente suscipit, eius quae eligendi.</p>
    </div>

    <div class="how">
      <h2>How ?</h2>
      <br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia est asperiores perferendis unde accusamus doloribus illo ducimus rerum itaque cumque eveniet voluptatibus quia, ipsum quod sapiente suscipit, eius quae eligendi.</p>
    </div>

    <div class="what">
      <h2>What ?</h2>
      <br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia est asperiores perferendis unde accusamus doloribus illo ducimus rerum itaque cumque eveniet voluptatibus quia, ipsum quod sapiente suscipit, eius quae eligendi.</p>
    </div>

  </div>

  <button class="btn">Get started</button>
</div>
