.overallContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(src/assets/images/backPimp1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.title {
    width: 100%;
    text-align: center;
    background-color: rgba(132,127,143, 1);
}
h1 {
    font-size: 3rem;
    color: white;
}

.leftButton {
    position: absolute;
    top: 70%;
    left: 5%;
    font-family: 'Alegreya', serif;
    font-size: 1.4rem;
    color: white;
    background-color:transparent;
    outline:0;
    transition: background-color 0.2s ease;
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px solid #BA3A7E;
}
.leftButton:hover {
    transition: linear all 0.05s;
    background-color: #BA3A7E;
    color: white;
    box-shadow: 0px 0px 28px -8px rgba(186,58,126,1);
}
.rightButton {
    position: absolute;
    top: 70%;
    right: 5%;
    font-family: 'Alegreya', serif;
    font-size: 1.4rem;
    color: white;
    background-color: transparent;
    outline:0;
    transition: background-color 0.2s ease;
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px solid #BA3A7E;
}
.rightButton:hover {
    transition: linear all 0.05s;
    background-color: #BA3A7E;
     color: white;
    box-shadow: 0px 0px 28px -8px rgba(186,58,126,1);
}

.couchContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.middleContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 15%;
    right: 15%;
    bottom: 25%;
    background-color: rgba(180, 180, 180, 0.3);
    border-radius: 10px;
}

.bodyContainer {
    position: absolute;
    height: 400px;
    width: 800px;
    z-index: 1;
}
.bodyContainer img {
    height: inherit;
    width: inherit;
}

.engineContainer1 {
    position: absolute;
    top: 40%;
    left: 25%;
    height: 200px;
    width: 200px;
    z-index: 2;
}
.engineContainer2 {
    position: absolute;
    top: 45%;
    left: 45%;
    height: 200px;
    width: 200px;
    z-index: 2;
}
.engineContainer1 img {
    height: inherit;
    width: inherit;
}
.engineContainer2 img {
    height: inherit;
    width: inherit;
}

.wheelContainer1 {
    position: absolute;
    top: 75%;
    right: 15%;
    z-index: 2;
}
.wheelContainer2 {
    position: absolute;
    top: 65%;
    right: 5%;
    z-index: 2;
}
.wheelContainer3 {
    position: absolute;
    top: 62%;
    left: 15%;
    z-index: 0;
}
.wheelContainer1 img {
    height: 80px;
    width: 160px;
}
.wheelContainer2 img {
    height: 80px;
    width: 160px;
}
.wheelContainer3 img {
    height: 80px;
    width: 160px;
}


.finContainer {
    position: absolute;
    top: -23%;
    left: 40%;
    z-index: 2;
}


.bottomContainer {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 80%;
    left: 5%;
    right: 5%;
    bottom: 0;
    background-color: rgba(180, 180, 180, 0.3);
    border-radius: 10px;
}

.body img {
    height: 120px;
    width: 240px;
}
.engine img {
    height: 100px;
    width: 100px;
}
.wheel img {
    height: 70px;
    width: 70px;
}
.fin img {
    height: 80px;
    width: 160px;
}

.body img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.engine img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.wheel img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.fin img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
